@import "tailwindcss";

:root {
  --input-color: #e8fcf5;
  --input-opacity: 35%;
  --corner-color: #e8fcf5;
}

@theme {
  /* Colors */
  --color-black: #111313;
  --color-white: #cffcec;
  --color-primary: #448b76;

  /* Typography */
  --font-montserrat: "Montserrat", "Montserrat Fallback";
  --font-fira-code: "Fira Code", monospace;
  --text-name: clamp(
    0.875rem,
    0.6404011461318051rem + 0.9551098376313276vw,
    1.5rem
  );
  --text-h1: clamp(2.8rem, 1.2234957020057307rem + 6.418338108882521vw, 7rem);
  --text-h2: clamp(
    1.25rem,
    1.0810888252148998rem + 0.6876790830945558vw,
    1.7rem
  );
  --text-h3: clamp(3rem, -0.4285714285714284rem + 7.142857142857142vw, 6rem);
  --text-h3-sm: clamp(
    1.6rem,
    -0.07679999999999998rem + 6.826666666666667vw,
    3.2rem
  ); /* h3 for small screens */
  --text-about: clamp(
    1.85rem,
    0.972412607449857rem + 3.5728748806112693vw,
    4.188rem
  ); /* text size for paragraph in about section */
  --text-whyme: clamp(
    0.875rem,
    0.7905444126074498rem + 0.3438395415472781vw,
    1.1rem
  ); /* text size for paragraph in why me section */

  /* Spacing */
  --spacing-whyme: clamp(
    30rem,
    15rem + 31.25vw,
    43.125rem
  ); /* max width of the list body 'paragraph' */

  /* Animation */
  --animate-spin: spin 7s linear infinite;
}

/* Tags */
body {
  @apply bg-black font-montserrat;
}

header {
  @apply flex fixed top-0 left-0 justify-between w-full px-2.5 sm:px-5 xl:px-10 h-full z-100 pointer-events-none py-5 sm:py-7 xl:py-16;

  .left,
  .right {
    @apply pointer-events-auto relative w-fit h-full;
  }

  .left {
    @apply flex flex-col justify-between items-center pl-3 lg:pl-0;

    a[href="/"] {
      @apply lg:p-5 lg:-mt-[1.2rem];

      .logo {
        @apply w-7 h-auto fill-white stroke-primary pointer-events-none;
      }
    }

    ul {
      @apply lg:flex hidden flex-col mb-4;

      li {
        @apply rounded-full;
      }
      a {
        @apply p-5 block;

        .sm-icon {
          @apply size-7 fill-white pointer-events-none;
        }
      }
    }
  }

  .press {
    @apply h-fit w-fit mb-10 md:mb-11.5 lg:hidden absolute bottom-0 left-1/2 -translate-x-1/2 z-100;

    .press-img {
      @apply size-20 sm:size-24 md:size-26 relative animate-spin;
    }

    .finger-print {
      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 size-12 sm:size-14 md:size-16 fill-primary;
    }
  }
  .right {
    @apply flex flex-col lg:justify-start justify-start lg:text-xl text-base md:text-lg font-semibold font-fira-code uppercase tracking-[3%];

    ul {
      @apply flex flex-col gap-1 items-end;

      li {
        @apply w-fit;
        a {
          @apply lg:px-5 lg:py-2 px-3 py-1 block text-white/65;

          .text-block {
            @apply overflow-hidden relative block;

            span {
              @apply block;
            }
            span:nth-child(2) {
              @apply text-white absolute top-[100%] left-0;
            }
          }
        }
      }
    }

    .sound-btn {
      @apply absolute left-19 md:left-21 lg:left-25 overflow-hidden flex text-left [writing-mode:sideways-lr] mb-7 bottom-0 text-sm md:text-lg md:w-7 w-[calc(var(--spacing)*4.7)] text-white/50 hover:text-white duration-200 font-semibold font-fira-code uppercase tracking-[3%] cursor-pointer;

      .on-off {
        @apply flex-col flex relative -ml-[0.07rem] md:ml-0;

        .off {
          @apply text-white/50;
        }
        .on {
          @apply text-white;
        }
      }
    }
  }

  .bg-shadow {
    @apply absolute flex flex-col justify-between top-0 lg:hidden left-0 w-full h-full -z-50;

    .top {
      @apply h-1/5 sm:h-1/4 w-full bg-gradient-to-b from-black via-black/70 from-5% to-black/0;
    }
    .bottom {
      @apply h-1/3 sm:h-1/4 w-full bg-gradient-to-t from-black via-black/90 from-5% to-black/0;
    }
  }
}

h1 {
  @apply text-h1/[102%] tracking-[-2%] w-full text-white font-black;
}
h2 {
  @apply uppercase font-fira-code font-medium text-h2/[33.6px] text-white tracking-[25%];
}
h3 {
  @apply text-h3-sm md:text-h3 leading-[100%] tracking-[-0.5%] font-black uppercase text-nowrap;
}

rect {
  @apply origin-center;
}
button {
  @apply cursor-pointer;

  &:focus {
    @apply outline-none;
  }
}

/* Classes & IDs */

/* NOTE: Hero: ------------------------------------------------------------------------------------------------- */
#home {
  @apply overflow-hidden relative w-screen h-dvh;

  .img-container {
    @apply absolute w-screen h-dvh -z-10;

    .img-shadow {
      @apply hidden absolute z-10 top-[0%] w-full h-full lg:block bg-linear-to-b from-black/60 to-black/25;
    }

    .hero-img-mobile {
      @apply object-cover sm:hidden;
    }

    .hero-img-tablet {
      @apply hidden object-cover object-center sm:block lg:hidden;
    }

    .hero-img-desktop {
      @apply hidden object-cover lg:block object-top-left;
    }
  }

  .hero-text-container {
    @apply flex justify-center items-center w-full h-full text-center uppercase select-none;

    .text-container {
      @apply flex flex-col gap-4 lg:gap-7 text-nowrap;

      .my-name {
        @apply text-xl font-bold text-white text-name font-fira-code tracking-[25%];
      }
    }
  }
}

/* NOTE: About: ------------------------------------------------------------------------------------------------- */
#about {
  @apply overflow-hidden w-screen sm:px-12 md:px-24 lg:px-40 2xl:px-0 h-dvh px-[1.3rem];

  .about-container {
    @apply flex flex-col justify-center items-start w-full h-full 2xl:items-center text-nowrap;

    & > div {
      @apply flex flex-col gap-4 text-left 2xl:gap-7;

      .text-container {
        @apply relative w-full;
        p {
          .line {
            @apply max-w-fit not-xl:h-full!;
            .word {
              @apply overflow-hidden inline-block h-full;
            }
            strong {
              @apply text-primary;
            }
          }

          &:nth-child(1) {
            @apply max-w-[80rem] text-white text-about/[135%] md:leading-[125%] lg:leading-[115%] xl:leading-[102%] tracking-[-0.5%] font-extrabold text-wrap;
          }
          &:nth-child(2) {
            @apply absolute top-0 max-w-[80rem] text-white text-about/[135%] md:leading-[125%] lg:leading-[115%] xl:leading-[102%] tracking-[-0.5%] font-extrabold text-wrap;
          }
        }
      }
    }
  }
}

/* NOTE: Why Me: ------------------------------------------------------------------------------------------------- */
#why-me {
  @apply overflow-hidden relative w-screen h-dvh;

  h2 {
    @apply py-7 text-center 2xl:py-14;
  }
  ul {
    li {
      @apply overflow-hidden relative py-10 pl-4 w-full border-t sm:py-7 sm:pl-10 md:pl-20 xl:pl-24 2xl:pl-36 last:border-b h-fit border-t-white/15 last:border-b-white/15;

      .text-container {
        @apply relative font-black text-white uppercase select-none w-fit h-fit text-nowrap;

        span {
          @apply opacity-20 text-h3-sm/[100%] md:text-h3/[100%] tracking-[-0.5%];
        }

        .hover-effect-container {
          @apply absolute top-0 left-0 z-20 w-full h-full;
        }

        h3 {
          @apply overflow-hidden absolute top-0 left-0 h-full whitespace-nowrap;
        }
      }

      .text-container-masked {
        @apply flex absolute top-0 right-0 items-center px-4 w-full h-full text-black bg-white sm:px-10 md:pl-20 lg:py-7 xl:pl-24 2xl:pl-36;

        h3 {
          @apply hidden md:block;
        }

        p {
          @apply flex right-0 items-center w-full h-full font-bold bg-white md:absolute md:top-1/2 md:pr-10 md:pl-7 md:-translate-y-1/2 xl:pr-20 text-whyme md:max-w-whyme xl:text-nowrap;
        }

        svg {
          @apply flex absolute top-0 left-0 flex-row w-full h-full;

          rect {
            @apply fill-primary;
          }
        }
      }
    }
  }
}

/* NOTE: Contact: ------------------------------------------------------------------------------------------------- */
#contact {
  @apply flex flex-col gap-12 justify-center items-start w-screen text-center sm:px-12 md:px-24 lg:px-40 px-[1.3rem] lg:min-h-dvh mb-55 lg:mb-0;

  .server-message {
    @apply p-7 absolute gap-2 hidden items-center w-fit min-w-88 justify-center top-0 left-1/2 bg-white overflow-hidden rounded-b-sm;

    svg {
      @apply size-6;
    }

    p {
      @apply text-black uppercase text-lg w-fit leading-4 tracking-[1%] font-black;
    }

    .line {
      @apply w-full h-1.5 left-0 bg-black absolute bottom-0;

      &.error {
        @apply bg-rose-500;
      }

      &.success {
        @apply bg-emerald-500;
      }
    }
  }

  p {
    @apply text-sm md:text-base leading-4 tracking-[1%] text-white font-bold text-left;
  }

  .header-container {
    @apply flex flex-col gap-4 items-start;

    p {
      br {
        @apply sm:hidden;
      }
    }
  }

  form {
    @apply flex flex-col gap-6 md:px-2 w-full lg:w-fit;

    #initial-state-corners {
      @apply absolute;
    }

    #corners {
      @apply absolute top-0 left-0 w-full h-full -z-50;
      .corner {
        &:nth-child(1) {
          @apply absolute -top-1.5 -left-1.5 w-5 h-5 border-t-2 border-l-2 border-(--corner-color);
        }
        &:nth-child(2) {
          @apply absolute -top-1.5 -right-1.5 w-5 h-5 border-t-2 border-r-2 border-(--corner-color);
        }
        &:nth-child(3) {
          @apply absolute -bottom-1.5 -left-1.5 w-5 h-5 border-b-2 border-l-2 border-(--corner-color);
        }
        &:nth-child(4) {
          @apply absolute -right-1.5 -bottom-1.5 w-5 h-5 border-r-2 border-b-2 border-(--corner-color);
        }
      }
    }

    .input-container {
      @apply flex gap-4 items-center w-full;
    }

    label {
      @apply lg:w-fit transition w-full flex items-end gap-4 sm:px-6 px-3 py-3.5 sm:py-7 relative hover:cursor-pointer;

      .form-icon {
        @apply w-6 h-6 sm:w-7 sm:h-7 fill-(--input-color)/(--input-opacity);
      }

      input {
        @apply pb-0.5 w-full font-bold bg-black hover:cursor-pointer focus:outline-none border-b-[1.5px] text-(--input-color) border-(--input-color)/(--input-opacity) placeholder:text-(--input-color)/50 focus-within:placeholder:text-black;

        &[id="userName"] {
          @apply lg:w-60 xl:w-80;
        }
        &[id="email"] {
          @apply lg:w-80 xl:w-100;
        }
        &[id="message"] {
          @apply lg:w-100 xl:w-120;
        }
      }
    }

    button {
      @apply relative py-7 w-full text-3xl font-bold tracking-[1%] uppercase md:text-4xl text-white/70 font-fira-code;

      .masked-btn {
        @apply absolute top-0 left-0 w-full h-full py-7 bg-white text-black;

        .loading {
          @apply size-16 animate-spin fill-black absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
        }
        svg {
          @apply absolute top-0 left-0 w-full h-full -z-10;
        }
      }
    }
  }

  footer {
    @apply flex flex-col gap-12 w-full;

    .sm-container {
      @apply lg:hidden flex justify-between px-3 sm:px-6;

      .sm-icon {
        @apply w-8 h-fit sm:w-9 duration-150 pointer-events-none fill-white/70 group-hover:fill-white/100 group-focus:fill-white/100;
      }
    }

    .contact-info {
      @apply text-sm w-fit font-bold tracking-[1%] flex flex-col gap-4;
      a {
        @apply flex w-fit  min-w-58 text-left flex-col px-6 py-4 gap-2 relative;

        &:focus {
          @apply outline-none;
        }

        &:nth-child(2) {
          @apply w-full;
        }
        h5 {
          @apply text-white;
        }
        p {
          @apply text-white/75;
        }

        .masked-info {
          @apply w-full bg-white absolute px-6 py-4 top-0 left-0 flex flex-col gap-2;
          h5 {
            @apply text-black;
          }
          p {
            @apply text-black/85;
          }
          svg {
            @apply absolute top-0 left-0 w-full h-full -z-10;
          }
        }
      }
    }
  }
}
/* "Web dev on a mission: code, grow, dominate." */
